body {
  margin: 0;
  font-family: serif;
}
.pr{
  position: relative;
}
.c_m{
  display: none;
}
.lighter{
  font-weight: 200 !important;
}
img.scale-with-grid {
  outline: 0;
  max-width: 100%;
  height: auto;
}

/* headline */

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 70px;
  line-height: 85px;
  margin-bottom: 0;
}

.mini-about .text{
  font-family: 'Vollkorn', serif;
  height: 300px;
  margin-top: 105px;
  height: 300px;
}
.mini-about p{
  padding: 15;
  margin: 0;
  font-weight: lighter;
  font-size: 30px;
  color: #ccc;
  font-family: 'Roboto Condensed', sans-serif;
}

/* icons */

.icon-list {
  margin: 20px 0;
  padding: 0px;
}

.icon-list li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.icons {
  width: 120px;
}

.jquery {
    clip-path: inset(10px 20px 30px 40px);
}

.arrow-down{
  width: 80px;
  position: absolute;
  bottom: 60px;
}
.header{
  padding-top: 25px;
  position: fixed;
  width: inherit;
  height: 55px;
  border-bottom: 1px #ccc solid;
  z-index: 9999;
  max-width: 1480px;
  background-color: #fff;
  font-family: 'Vollkorn', serif;

}
.header a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
}
.header .menu{
  text-align: left;
}
.header .menu a{
  opacity: 0.4;
  margin:0 10px;
  font-family: 'Vollkorn', serif;

}
.header .menu a.active{
  color: #000;
  opacity: 1.0;
}
.header .menu a:hover{
  opacity: 0.8;
}
.header .contact{
  text-align: right;
}
.header .contact a{
  margin-left: 20px;
}

.mini-about{
  color: #000;
  text-align: left;
  display: table;
}

#headline {
  opacity: 0;
}


.portfolio-list a{
  display: block;
  width: 100%;
  float: left;
  position: relative;
  overflow: hidden;

  list-style:none;
  outline:0;
  border:0;
  text-decoration:none;
  margin:0;
  padding:0;
  line-height: 0;
}
.portfolio-list a img{
  list-style:none;
  outline:0;
  border:0;
  margin:0;
  padding:0;
}
.portfolio-list p{
  display: none;
}
.portfolio-list a:hover p{
  display: table;
  background-color:#fff;
  font-size: 22px;
  font-weight: 300;
  color: #000;
  position: absolute;
  width: 100.3%;
  min-height: 100%;
  text-align: center;
  top: 0;
  box-sizing: border-box;
  margin: 0;
  line-height: 22px;
}
.portfolio-list p strong{
  font-size: 35px;
  font-weight: 300;
  display: block;
  text-align: center;
  font-family: 'Vollkorn', serif;
  color: #000;
}
.portfolio-list p span{
  display: table-cell;
  vertical-align: middle;
  font-family: 'Roboto Condensed', sans-serif;
  color: #ccc;
}
.portfolio-list a {
  margin-left: 1%;
  margin-bottom: 1%;
  width: 49.5% !important;
}
.portfolio-list a:nth-child(2n+1) {
  margin-left: 0;
}
.portfolio-detail img{
  display: block;
  margin-bottom: 20px
}
.info{
  padding: 200px 0 100px 0;
  text-align: center;
}
.info h1{
  padding: 0;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: 0;
}
.info span{
  font-weight: 100;
  font-size: 18px;
  margin-bottom: 50px;
  letter-spacing: 1px;
  display: block;
}
.project-desc{
  font-size: 20px;
  text-align: center;
  font-weight: 300;
  line-height: 32px;
}
.project-desc a{
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid #ccc;
}
.project-desc a:hover{
  border-bottom: 1px solid #000;
}
.more{
  text-align: center;
  padding: 100px 0;
  font-size: 18px;
}
.next{
  text-align: center;
  padding: 100px 0
}
.next a{
  font-size: 64px;
  text-decoration: none;
  color: #000;
}
.next a:hover{
  border-bottom: 2px solid #ccc;
}


.about-content{
  padding: 200px 0 100px 0;
  text-align: left;
}
.about-content p{
  font-size: 28px;
  text-align: left;
  font-weight: 300;
}
.about-content p a{
  border-bottom: 1px solid #666;
  text-decoration: none;
}
.about-content p a:hover{
  border-bottom: 1px solid #fff;
}
body.about {
  background: #111;
  color: #fff;
}
body.about a{
  color: #fff !important;
}
body.notfound{
  background: url(../images/404.gif) no-repeat fixed;
  background-size: cover;
}
.notfound-content {
    color: #fff;
}

.footer{
  padding: 60px 0;
  font-size: 18px;
}
.footer p{
  opacity: 0.6;
  font-weight: 200;
  opacity: 0.4;
}
.footer .social{
  text-align: right;
}
.footer .social a{
  color: #000;
  text-decoration: none;
  font-size: 18px;
  margin-left: 10px;
  opacity: 1.0;
  border-bottom: 1px solid #ccc;
}
.footer .social a:hover{
  opacity: 0.5;
}

p.inf {
    font-weight: 100;
    font-style: italic;
    opacity: 0.3;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 1200px) {
  .portfolio-list a {
    margin-left: 1%;
    margin-bottom: 1%;
    width: 49.5% !important;
  }

  .portfolio-list a:nth-child(3n+4) {
    margin-left: 1%;
  }
  .portfolio-list a:nth-child(2n+1) {
    margin-left: 0;
  }
  .mini-about{
    font-size: 54px;
    line-height: 75px;
  }
}
@media only screen and (max-width: 1000px) {
  .mini-about{
    font-size: 44px;
    line-height: 65px;
  }
  .mini-about p{
    display: inline;
  }
  .mini-about p.lighter{
    display: block;
  }
  .arrow-down {
    left: 45%;
  }
  .about-content p{
    font-size: 28px;
    text-align: center;
  }
  .n1{
    float: none;
    width: 100% !important;
    margin: 0 !important;
  }
  .n2{
    float: none;
    width: 100% !important;
    margin: 0 !important;
  }
}
@media only screen and (max-width: 700px) {
  .portfolio-list a {
    margin-left: 0;
    margin-bottom: 1%;
    width: 100% !important;
  }
  .portfolio-list a {
    margin-left: 0;
  }
  .mini-about{
    font-size: 30px;
    line-height: 46px;
  }
  .header{
    text-align: center !important;
    padding-top: 10px;
    margin-left: -20px;
  }
  .header .logo{
    width: 100%;
    padding-bottom: 15px;
  }
  .header .menu{
    float: right;
    width: 100%;
  }
  .header .contact{
    display: none;
  }
  .header .c_m{
    display: inline;
  }
  .info{
    text-align: center;
    padding: 150px 0 100px 0;
  }
  .about-content{
    padding: 150px 0 0 0;
  }
  .about-content p{
    font-size: 20px;
    text-align: center;
  }
  .footer .social{
    text-align: center;;
  }
}
