body {
  /*(background: url(../img/bg-pattern.png) center center repeat;*/
}

/* _layout */

.row {
  margin-right: 0px;
  margin-left: 0px;
}


/* _top navigation */

.navbar {
  margin-bottom: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 17px;
}

.navbar-default {
  background-color: #fff;
  border-color: transparent;
}

.border-nav {
  border-bottom: 1px #ccc solid;
}

.icon-title {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/* _header */

.project-container {
  padding: 10px;
}

.header-content {
  margin-top: 75px;
}

.headline {
  font-family: 'Libre Baskerville', serif;
  color: 1c1c1c;
}

.headline h1 {
  font-size: 115px;
  line-height: 125px;
}

.headline h2 {
  font-size: 30px;
  font-family: 'Roboto Condensed', sans-serif;
}

.icon-tool {
  margin-right: 10px;
}

.tool-bar {
  margin-top: 20px;
}

.brand-mobile {
  margin: 10px 10px;
  float: left;
}


/* _social media navigation */

.social-icon {
  margin-top: 15px;
  width: 30px;
  height: 30px;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
  text-indent: -2000px;
  display: block;
  margin-left: 10px;
}

.instagram {
  background: url('../img/social-media-icons-small.png') top center no-repeat;
}

.instagram:hover {
  background-position: 0px -30px;
}

.linkedin {
  background: url('../img/social-media-icons-small.png') 0px -60px no-repeat;
}

.linkedin:hover {
  background-position: 0px -90px;
}

.youtube {
  background: url('../img/social-media-icons-small.png') 0px -120px no-repeat;
}

.youtube:hover {
  background-position: 0px -150px;
}

.github {
  background: url('../img/social-media-icons-small.png') 0px -180px no-repeat;
}

.github:hover {
  background-position: 0px -210px;
}

.twitter {
  background: url('../img/social-media-icons-small.png') 0px -240px no-repeat;
}

.twitter:hover {
  background-position: 0px -270px;
}


/* _footer */

.footer {
  padding: 60px 0 60px 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

.twitter {
  width: 30px;
  height: 30px;
}


/* Thumbnails and flip effect */

.thumbs {
  height: 390px;
}


/* entire container, keeps perspective */

.flip-container {
  perspective: 1000px;
  height: 370px;
}


/* flip the pane when hovered */

.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}

.flip-container,
.front,
.back {
  width: 100%;
}


/* flip speed goes here */

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}


/* hide back of pane during swap */

.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}


/* front pane, placed above back */

.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}


/* back, initially hidden pane */

.back {
  transform: rotateY(180deg);
}

.text-thumb {
  text-align: center;
  padding: 50px;
  height: 378px;
}

.thumb-title {
  font-family: 'Libre Baskerville', serif;
  color: 1c1c1c;
  font-size: 30px;
  margin-top: 20%;
}

.thumb-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 25px;
  color: 1c1c1c;
}

.footer-copy {
  font-family: 'Roboto Condensed', sans-serif;
  height: 50px;
}


/* _projects */

.col-centered {
  margin-top: 50px;
  float: none;
  margin: 0 auto;
}

.projects {
  margin-top: 60px;
}

.projects-text-container {
  padding: 0px 30px 0px 30px;
}

.projects-headline {
  font-size: 70px;
  line-height: 75px;
  font-family: 'Libre Baskerville', serif;
  margin-bottom: 30px;
}

.projects-text {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 50px;
}

.project-thumb {
  width: 100%;
}


/* _media queries */

@media only screen and (max-width: 1200px) {
    
  .text-thumb {
  text-align: center;
  padding: 50px;
  height: 330px;
}

  .flip-container {
    perspective: 1000px;
    height: 310px;
  }

  .thumbs {
      height: 330px;
  }
}


@media only screen and (max-width: 992px) {
  .headline h1 {
    font-size: 90px;
    line-height: 100px;
  }
    
  .text-thumb {
  text-align: center;
  padding: 50px;
  height: 470px;
  }

  .flip-container {
    perspective: 1000px;
    height: 470px;
  }

  .thumbs {
      height: auto;
  }

}

@media only screen and (max-width: 768px) {
  .headline h1 {
    font-size: 80px;
    line-height: 90px;
  }
  .tool-bar.nav>li {
    position: relative;
    display: block;
    float: left;
  }
  
    .text-thumb {
  text-align: center;
  padding: 50px;
  height: 470px;
  }

  .flip-container {
    perspective: 1000px;
    height: 470px;
  }

  .thumbs {
      height: auto;
  }



}

@media only screen and (max-width: 480px) {
  .headline h1 {
      font-size: 48px;
      line-height: 55px;
  }
  .headline h2 {
    font-size: 25px;
  }
}

@media only screen and (max-width: 320px) {
  .headline h1 {
      font-size: 48px;
      line-height: 55px;
  }
  .headline h2 {
    font-size: 20px;
  }
}